@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  padding: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 900;
  font-size: 24px;
  text-decoration: none;
  color: #243e63;
}

.nav__logo--wrapper {
  width: 40px;
  height: 40px;
}

.treact-logo {
  width: 40px;
}

.nav__right--mobile {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  z-index: 20;
}

.nav__right--mobile:hover {
  cursor: pointer;
}

.nav__right--mobile > i {
  font-size: 24px;
}

.nav__right--desktop {
  display: none;
}

@media (min-width: 1024px) {
  .nav__right--mobile {
    display: none;
  }

  .nav__right--desktop {
    display: flex;
    gap: 72px;
  }
}

.nav__mobile__links--container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 16px;
}

.nav__mobile__links {
  background-color: white;
  z-index: 10;
  border: whitesmoke;
  padding: 32px;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav__mobile__links > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
  padding: 8px;
  gap: 22px;
}

.signup__button {
  color: white;
  background-color: rgb(100, 21, 255);
  border-radius: 1000px;
  padding: 12px 32px;
}

.nav__right--desktop > ul {
  display: flex;
  list-style-type: none;
  gap: 48px;
}

.nav__right--desktop > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav__links::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -6px;
  left: 0;
  background-color: #6415ff;
  opacity: 0;
}

.nav__links {
  color: #243e63;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

.nav__links:hover {
  color: #6415ff;
  transition: all 0.3s ease-in-out;
}

.nav__links:hover:after {
  opacity: 100%;
  transition: all 0.3s ease-in-out;
}

.auth__buttons {
  display: flex;
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__button--login {
  color: #243e63;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.auth__button--signup {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  background-color: #6415ff;
  border: none;
  padding: 12px 32px;
  border-radius: 1000px;
}

.button__hover:hover {
  cursor: pointer;
  opacity: 70%;
  box-shadow: inset 0 0 100px #31316080;
}

/* ABOUT US */

.twocolumn__container {
  max-width: 1280px;
  display: flex;
  margin: 60px;
}

.twocolumn__leftcolumn {
  max-width: 600px;
}

.twocolumn__heading {
  width: 600px;
  margin: 26px;
  font-weight: 700;
  font-size: 50px;
}

.twocolumn__para {
  max-width: 600px;
  margin: 26px;
  font-size: 18px;
  line-height: 1.5;
}

.twocolumn__img {
  width: 700px;
}

.twocolumn__action {
  display: flex;
  text-align: center;
}

.input__email {
  width: 350px;
  height: 60px;
  padding: 12px;
  border-radius: 100px;
  border-width: 2px;
  opacity: 0.2;
}

.input__button {
  border-style: none;
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 100px;
  cursor: pointer;
  background-color: rgb(102, 0, 255);
  color: white;
}

.twocolumn__customerlogostrip {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 700;
  width: 500px;
  max-width: 500px;
  margin-top: 100px;
}

.twocolumn__customerlogos {
  width: 450px;
  margin-top: 16px;
}

/* Featured */

.title {
  font-weight: 700;
  font-size: 20px;
  padding-left: 20px;
}

.description {
  margin-top: 20px;
  width: 75%;
}

.description {
  text-align: left;
}

.threecol--sideimage__card {
  margin-bottom: 20px;
}

.threecol--sideimage__subheader {
  color: #6415ff;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.threecol--sideimage__heading {
  font-size: 48px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 20px;
}

.threecol--sideimage__description {
  text-align: center;
  margin-bottom: 30px;
}

.threecol--sideimage__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.threecol--sideimage {
  flex-direction: row;
}

.threecol--sideimage__column {
  display: inline-block;
}

.threecol--sideimage__card {
  margin-left: 40px;
}

/* Quality Work */

.twocolumn-button__subheading {
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: rgb(100, 21, 255);
  text-align: center;
}

.twocolumn-button__heading {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;
}

.twocolumn-button__description {
  text-align: center;
  margin-bottom: 20px;
}

.twocolumn-button__primarybutton {
  border-radius: 100px;
  border-style: none;
  padding: 10px;
  margin-left: 62px;
  background-color: #6415ff;
  color: white;
}

.twocolumn-button__twocolumn {
  margin-bottom: 100px;
}

.twocolumn-steps__subheading {
  color: #6415ff;
  font-size: 18px;
  margin-bottom: 10px;
}

.twocolumn-steps__heading {
  margin-bottom: 10px;
}

.twocolumn-steps___stepdescription {
  margin-bottom: 20px;
}

.twocolumn-steps__stepnumber {
  font-size: 24px;
}

/* Values */

.values__container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.value__heading {
  text-align: center;
  font-size: 18px;
  color: #6415ff;
  margin-top: 100px;
  margin-bottom: 20px;
}

.principles__heading {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.values {
  margin-top: 20px;
  margin-bottom: 20px;
}

.para__values {
  text-align: center;
}

.heading-affordable {
  text-align: center;
  margin-bottom: 20px;
}

.heading-professionalism {
  text-align: center;
  margin-bottom: 20px;
}

.para-1 {
  text-align: center;
  margin-bottom: 20px;
}

.para-2 {
  text-align: center;
  margin-bottom: 20px;
}

.learn-more {
  border-style: none;
  background-color: #6415ff;
  color: white;
  border-radius: 100px;
  padding: 20px;
  margin-left: 100px;
}

.presentation__image {
  width: 30%;
}

.threeplans__heading {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

.threeplans__subheading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.threeplans__description {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* testimonials */

.twocol-imagerating__custprofile {
  width: 100px;
  border-radius: 100px;
}

.twocol-imagerating__row {
  display: flex;
  align-items: center;
}

.twocol-imagerating__img {
  width: 500px;
  margin-right: 30px;
}

.twocol-imagerating__subheading {
  margin-top: 60px;
}

.twocol-imagerating__subheading {
  color: #6415ff;
  font-size: 20px;
  margin-bottom: 20px;
}

.twocol-imagerating__slidertest {
  font-size: 20px;
}

.twocol-imagerating__description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.twocol-imagerating__paratest {
  margin-top: 10px;
  margin-bottom: 10px;
}

.twocol-imagerating__custinfo {
  margin-top: 30px;
}

/* FAQS */

.singlecol__subheading {
  font-size: 18px;
  color: #6415ff;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.singlecol__heading {
  text-align: center;
  margin-bottom: 20px;
}

.singlecol__description {
  text-align: center;
  margin-bottom: 20px;
  max-width: 36rem;
}

.singlecol__questiontext {
  margin-bottom: 20px;
}

.singlecol__column {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.getstarted--background__container {
  background-color: #6415ff;
  border-radius: 0.5rem;
  padding-top: 69px;
  padding-bottom: 69px;
  margin: 50px;
}

.getstarted__row {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  display: flex;
  align-items: center;
}

.getstarted__columncontainer {
  margin: 30px;
}

.getstarted__text {
  font-size: 26px;
  color: white;
  width: 500px;
}

.getstarted__primarylink {
  font-weight: 700;
  border-style: none;
  background-color: rgb(245, 89, 89);
  border-radius: 100px;
  color: white;
  padding: 12px 32px;
  margin: 20px;
}

.getstarted__secondarylink {
  padding: 12px 32px;
  font-weight: 700;
  border-style: none;
  border-radius: 100px;
  color: #6415ff;
  background-color: white;
}

/* FOOTER */

.footer {
  margin-top: 60px;
  padding: 40px;
  background-color: #6415ff;
}

.footer__section {
  background-color: #6415ff;
}

.footer-container {
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer-column {
  margin-bottom: 20px;
}

.footer-h3 {
  margin-bottom: 20px;
}

.treactlogo__img {
  width: 50px;
}

.footer-logo {
  text-align: center;
  margin: 20px;
}

.fblogo__img {
  width: 30px;
}

.twtlogo__img {
  width: 30px;
}

.listitem__links {
  text-decoration: none;
  list-style: none;
}

.listitem__link {
  color: white;
  text-decoration: none;
}

.copyright-notice {
  color: white;
  margin: 20px;
}

/* Iphone 12 PRO */

@media (max-width: 768px) {
  .twocolumn__container {
    flex-direction: column;
    margin: 0px;
    margin-top: 60px;
  }

  .presentation__image {
    width: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .twocolumn__heading {
    font-weight: 900;
    width: 200px;
    margin: 0;
    font-size: 40px;
  }

  .twocolumn__customerlogos {
    width: 220px;
  }

  .twocolumn__img {
    width: 220px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .twocolumn__leftcolumn {
    max-width: 200px;
  }

  .twocolumn__para {
    max-width: 200px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .input__email {
    width: 120px;
  }

  .threecol--sideimage__container {
    margin-top: 100px;
  }

  .threecol--sideimage__subheader {
    font-size: 20px;
    color: rgb(100, 21, 255);
    margin-bottom: 20px;
  }

  .threecol--sideimage__description {
    margin-top: 30px;
    margin-bottom: 60px;
    max-width: 220px;
  }

  .threecol--sideimage__heading {
    font-size: 48px;
    font-weight: 900;
  }

  .twocolumn-button__container {
    margin-top: 100px;
  }

  .twocolumn-button__column {
    flex-direction: column;
  }

  .twocolumn-button__img {
    max-width: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .twocolumn-steps__img {
    width: 220px;
    margin-bottom: 50px;
    margin-left: 8px;
  }

  .threeplans__headercontainer {
    text-align: center;
  }

  .threeplans__heading {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .threeplans__subheading {
    text-align: center;
    font-size: 20px;
    color: #6415ff;
    margin-bottom: 20px;
  }

  .twocol-imagerating__subheading {
    font-size: 20px;
    color: #6415ff;
    margin-bottom: 20px;
  }

  .twocol-imagerating__description {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .twocol-imagerating__column {
    margin-top: 60px;
  }

  .twocol-imagerating__slidertest {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .twocol-imagerating__paratest {
    margin-bottom: 20px;
  }

  .twocol-imagerating__img {
    width: 300px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .twocol-imagerating__custprofile {
    border-radius: 100px;
    width: 20%;
  }

  .twocol-imagerating__heading {
    font-size: 30px;
    font-weight: 900;
  }

  .twocol-imagerating__row {
    flex-direction: column;
  }

  .getstarted--background__container {
    margin: 0;
  }

  .getstarted__text {
    font-size: 20px;
    width: 200px;
  }

  .getstarted__columncontainer {
    display: flex;
    flex-direction: column;
  }

  .footer {
    margin-top: 60px;
  }
}
